<h1>Search Flights</h1>
<p>Render all flights that fit this description</p>

<form>
  <select name="origin">
      <option value="">Where are you?</option>
        <% Flight.pluck(:origin).uniq.each do |city|%>
            <div class="city">
                <option value="<%=city%>"><%=city%></option>
            </div>
        <%end%>
  </select>

  <select name="destination">
      <option value="">Where are you going?</option>
        <% Flight.pluck(:destination).uniq.each do |city|%>
            <div class="city">
                <option value="<%=city%>"><%=city%></option>
            </div>
        <%end%>
  </select>

  <div class="actions">
      <input type="submit" value="Search Flights">  
  </div>

</form>